<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
</style>
</head>

<body>

	<div class="w3-card-4" style="width: 50%;">
		<div class="w3-container w3-gray">
			<h2>New Book</h2>
		</div>
		<form class="w3-container" action="insertBook">
			
			<p>
				<label class="w3-text-gray"><b>Id</b></label> <input
					class="w3-input w3-border w3-light-grey" name="id" type="text">
			</p>

			<p>
				<label class="w3-text-gray"><b>Title</b></label> <input
					class="w3-input w3-border w3-light-grey" name="title" type="text">
			</p>

			<p>
				<label class="w3-text-gray"><b>Quote</b></label> <input
					class="w3-input w3-border w3-light-grey" name="quotes" type="text">
			</p>
			
			<p>
				<button class="w3-btn w3-blue">Add</button>
			</p>
		</form>
	</div>

</body>
</html>