&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
&lt;link rel=&quot;stylesheet&quot;
href=&quot;/webjars/bootstrap/4.2.1/css/bootstrap.min.css&quot;&gt;
&lt;script src=&quot;/webjars/jquery/3.0.0/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;/webjars/bootstrap/4.2.1/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
&lt;style&gt;
table , form {
margin:20px;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;table&gt;
&lt;tr th:each=&quot;book:${library}&quot;&gt;
&lt;td th:text=&quot;${book.title}&quot;&gt;&lt;/td&gt;
&lt;td th:text=&quot;${book.ISBN}&quot;&gt;&lt;/td&gt;
&lt;td th:text=&quot;${book.pages}&quot;&gt;&lt;/td&gt;

&lt;td&gt;&lt;a th:href=&quot;@{deleteBook(title=${book.title})}&quot;
class=&quot;btn btn-primary&quot;&gt;DELETE&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;form action=&quot;newBook&quot;&gt;
&lt;input type=&quot;submit&quot; value=&quot;NEW&quot; class=&quot;btn btn-primary&quot;/&gt;
&lt;/form&gt;
&lt;/html&gt;