&lt;!DOCTYPE html&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
&lt;link rel=&quot;stylesheet&quot;
href=&quot;/webjars/bootstrap/4.2.1/css/bootstrap.min.css&quot;&gt;
&lt;script src=&quot;/webjars/jquery/3.0.0/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;/webjars/bootstrap/4.2.1/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
&lt;style&gt;
form { margin: 20px;}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;form action=&quot;insertBook&quot;&gt;
&lt;div class=&quot;form-group&quot;&gt;
&lt;label for=&quot;title&quot;&gt;Title:&lt;/label&gt; &lt;input type=&quot;text&quot;

name=&quot;title&quot;

class=&quot;form-control&quot; id=&quot;title&quot; /&gt;
&lt;div class=&quot;form-group&quot;&gt;
&lt;label for=&quot;ISBN&quot;&gt;ISBN:&lt;/label&gt;&lt;input type=&quot;text&quot;
name=&quot;ISBN&quot; class=&quot;form-control&quot; id=&quot;ISBN&quot;

/&gt;

&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
&lt;label for=&quot;pages&quot;&gt;Pages:&lt;/label&gt;&lt;input

type=&quot;text&quot; name=&quot;pages&quot;

class=&quot;form-control&quot; id=&quot;pages&quot; /&gt;

&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
&lt;input type=&quot;submit&quot; value=&quot;SEND&quot; class=&quot;btn btn-

primary&quot; /&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;